$primary: #C31815;
$secondary: #0E1E32;

$font-family-base: 'Poppins', sans-serif;
$font-family-secondary: 'Nunito Sans', sans-serif;
$font-family-other: 'IBM Plex Serif', serif;





@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("{}/public/fonts/Poppins/Poppins-Regular.ttf");
}