@import '{}/client/configs/_variables.scss';
@import './components/styles.scss';
@import './pages/home/style.scss';
@import'./pages/news/style.scss';
@import './pages/detail/style.scss';



body {

    font-family: $font-family-base;
    background-color: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
    box-sizing: border-box;
}




/* grid sistemi */
.container {
    width: 100%;
    max-width: 1366px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;

}

.container-sm {

    width: 100%;
    max-width: 1080px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    margin-top: 2rem;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1 {

    max-width: 8.3333333333%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-2 {

    max-width: 16.6666666667%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-3 {

    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {

    max-width: 33.3333333333%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-5 {

    max-width: 41.6666666667%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-6 {

    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-7 {

    max-width: 58.3333333333%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-8 {

    max-width: 66.6666666667%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-9 {

    max-width: 75%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-10 {

    max-width: 83.3333333333%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-11 {

    max-width: 91.6666666667%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-12 {

    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}



// button

.btn-outline-danger {
    /* btn-outline-danger stilini uygula */
    color: $primary;

    background-image: none;
    border-color: $primary;
    width: 220px;
    height: 60px;
    font-family: 'Poppins';
}

.btn-danger {
    /* btn-outline-danger stilini uygula */
    color: #ffff;

    border-radius: 5px;
    background-color: $primary;
    width: 120px;
    height: 60px;
    font-family: 'Poppins';
    font-size: 14px;
}