.pagesNews {
    .news-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .card {
        width: 438px;
        height: 520px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 25px;
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-body {
        padding: 10px;

    }

    .card-title {
        font-family: 'IBM Plex Serif';
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }

    .card-body p {
        margin-bottom: 10px;
    }

    .card-img {
        width: 438px;
        height: 246px;
    }

    .card-footer {
        display: flex;
        justify-content: space-evenly;
        align-content: stretch;
        margin-bottom: 15px;

        border-top: 10px;
        padding-top: 10px;
        border-top: 1px solid;
    }

    .news-bar {
        margin-top: 25px;
        height: 54px;
        display: flex;
        justify-content: space-between;
        background-color: #ffff;

        & ul {
            list-style-type: none;
            display: flex;
            padding-left: 2px;

        }

        & li {
            padding: 5px;
            font-weight: 600;
            font-size: 18px;
            font-family: 'Poppins';
        }
    }

    & .btn-wiew {
        margin-top: 25px;
        text-align: center;
    }

    & .card-text {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
        height: 10vh;
    }

    & .live {
        margin-top: 25px;

        p {
            color: red;
        }

        h5 {
            font-family: 'IBM Plex Serif';
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
        }
    }

    .live-card {
        width: 370px;
        height: 216px;
        background-color: #ffff;

        display: flex;
        flex-direction: column;

        justify-content: center;
    }
}