<template name="componentsNavbar">


    <header class="components-navbar header ">

        <div class="navbar container ">

            <img class="navbar-logo" src="img/logo.png" alt="">
            <nav class="navbar-list">
                <a class="navbar-link red-point" href="#">Corona Updates</a>
                <a class="navbar-link" href="#">Politics</a>
                <a class="navbar-link" href="#">Business</a>
                <a class="navbar-link" href="#">Sports</a>
                <a class="navbar-link" href="#">World</a>
                <a class="navbar-link" href="#">Travel</a>
                <a class="navbar-link" href="#">Podcast </a>
            </nav>
            <i class="fa-solid fa-angles-right"></i>
            <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-bars"></i>


        </div>

    </header>
</template>