.components-navbar {
  background-color: white;
  height: 80px;
  width: 100%;

  & .navbar {
    margin: auto;
    background-color: #ffffff;
    padding: 14px;

    width: 1366px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }


  & .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 893px;
  }

  & .navbar-link {
    text-decoration: none;
    color: black;
    position: relative;




    font-family: "Nunito Sans", sans-serif;

    &.red-point {
      &::before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 9999px; // 50%
        background-color: red;

        top: 50%;
        right: 100%;

        transform: translateY(-50%);
      }
    }

    .fa-solid,
    .fa-regular {
      float: right;
    }

  }



}







.components-title {

  .box {
    height: 54px;
    width: 157px;
    background-color: #ffffff;
    color: #C31815;

    & p {
      text-align: center;
      font-family: 'Poppins';
    }

  }

  .right {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    padding-left: 50px;
  }




}