.components-navbar {
  background-color: white;
  height: 80px;
  width: 1920px;

  & .navbar {
    margin: auto;
    background-color: #ffffff;
    padding: 14px;
    text-align: center;
    width: 1366px;
  }

  & .navbar-logo {
    display: inline-block;

  }

  & .navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 893px;
  }

  & .navbar-link {
    text-decoration: none;
    color: black;
    padding: 2px;
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;

    &.red-point {
      &::before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 9999px; // 50%
        background-color: red;
        left: -10px;
        // top: 50%;
        // transform: translateY(-50%);
      }
    }


  }



}






.components-section {
  &.section-bar {
    text-align: center;
    width: 1366px;
    margin: auto;
    margin-top: 25px;
  }

  .card {


    padding: 100px 155px 100px 90px;
  }

  .card-title {
    text-align: left;
    font-family: 'IBM Plex Serif';
    font-size: 32px;
  }

  .card-text {
    margin-top: 20px;
    text-align: left;
    font-family: 'Poppins';
    font-size: 15px;
  }

  .d-flex {
    display: flex;
  }

  .align-items-center {
    align-items: center;
  }

  .h-100 {
    height: 100%;
  }

  .card-footer {
    font-size: 13px;
    font-family: 'Poppins';
    margin-top: 30px;
  }

  .card-navbar {
    justify-content: space-between;
    margin-bottom: -20px;

    p {
      font-family: 'Poppins';
      font-weight: 600;
      color: red;

    }


  }


}

.components-title {
  width: 1366px;
  height: 80px;
  background-color: #C31815;
  margin: auto;
  margin-top: 10px;

  .box {
    height: 54px;
    width: 157px;
    background-color: #ffffff;
    color: #C31815;

    & p {
      text-align: center;
      font-family: 'Poppins';
    }

  }

  .right {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    padding-left: 50px;
  }




}